/bin/
/*.exe
/*.so
/*.test
/__debug_bin

/go.sum
/go.mod
/vendor/     

/coverage.txt
/coverage.html
*.prof
*.test
*.out

.env
.env.local
.env.*.local

*.sql
*.dump
*.bak
_sqlbackup.sql
/db/migrations/*.down.sql

*.log
*.tmp
*.cache
/tmp/

.DS_Store
Thumbs.db
*.swp
*.swo

/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace

/.idea/
*.iml

*.pb.go
*.pb.gw.go

.png
.jpg